/* elements */
body {
    font-size: 112.5%;;
}
input[type=radio] {
    padding-top: 30px;
    margin-top: 10px;
}
input[type=button] {
    margin: 5px;
}

header {
    width: 100%;
}
header img {
    display: block;
    float: left;
    margin: 10px;
    padding: 10px;
}
header h1 {
    font-family: 'Roboto Condensed','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:left;
    display: block;
    width: 50%;
    padding-top: 30px;
    color: rgb(27,60,109);
}

.req {
    vertical-align: super;
    font-size: smaller;
    color: red;
}




/* classes */
.charNum {
    display: inline;
    align-self : left;
    font-size: smaller;
    vertical-align: super;
}
.warn {
    color: red;
}
.clear {
    clear:both;
    height: 20px;
    background-color: rgb(27,60,109);
}


.next-button:disabled {
    background-color: rgb(68, 70, 71); /* Dark Blue from the Nav bar on the website */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* IDs */
#other-fill-reason{
    width: 280px;
}

#othertext-wish {
    width: 280px;
}
#survey {
  width: 80%;
  padding: 70px;
  margin: 0 0 40px 0;
}
#thank {
    width: 80%;
    padding: 0 70px 0 70px ;
    margin: 0 0 20px 0;
}
#intro-begin, #close, #submit-button, .next-buttontest your site against xss {
    
    background-color: rgb(27,60,109); /* Dark Blue from the Nav bar on the website */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#errorheader {
    font-size: 800%;
    margin-left: 15%;
    color: grey;
    font-family: 'Roboto Condensed','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#errortext {
    color: grey;
    margin-left: 10%;
    font-family: 'Roboto Condensed','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.back-button {
    background-color: #BFD633; /* Green from the Logo*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

